.RAGTruthCorpus {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: calc(100vh - 3rem);
    background-color: white;
    overflow-y: scroll !important;
    padding-bottom: 1rem;
    &__navigation-container {
        margin: .75rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav-button {
        cursor: pointer;
        &--hidden {
            visibility: hidden;
            cursor: none;
        }
    }
    &__response-id {

        width: 10rem;
    }
    &__responses-container {
    
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }
    &__prompt {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
    }
}

option {
    background-color: white !important;
    background: white !important;
}