.RAGTruthCorpus {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: calc(100vh - 3rem);
    background-color: white;
    overflow-y: auto !important;

    &__response-id {
        margin: .5rem auto;
    }
    &__responses-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }

}