.Header {
    padding: .5rem; 
    display: flex;
    align-items: center;
    &__icon {
        height: 2rem;
        margin: 0 .5rem 0 .5rem; 
    }
    &__title {
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }
    background-color: rgba(0, 105, 255, .3);
}