.RAGTruthViewer {
    width: 49%;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 1.25rem;
    }
    &__error {
        color: white;
        padding: .35rem .75rem;
        background-color: red;
        width: fit-content;
        margin: auto;
        border-radius: 8px;
    }
    &__prompt {
        font-weight: 700;
    }
    &__response-container {
        position: relative;
    }
    &__response {
        text-align: left;
    }
    
    
    &__button {
        color: black;
        background-color: white;
        border: 1px solid black;
        padding: .25rem .5rem;
        width: fit-content;
        margin: .75rem auto;
        cursor: pointer;
        border-radius: 4px;

        &--active {
            color: white;
            background-color: black;
        }
        // &:hover {
        //     color: white;
        //     background-color: black;
        // }
    }
}